</body>

<% const year = new Date().getFullYear() %> 

<footer class="footer">
    <div class="container">
      <span class="text-muted"> © Sanjyoti Das - <%= year %></span>
    </div>
  </footer>
  </html>