<%- include("partials/header.ejs") %>

<div class = "home-div">
    <!-- <img class = "home-img"src="css\best-blogs-1024x768.jpeg" alt=""> -->
    <h1 class = "home-title">Blogsway</h1>
    <a href="/register"><button class="btn btn-color px-5 mb-5 ">Register</button></a>
    
    <a href="/login"><button class="btn btn-color px-5 mb-5 ">Login</button></a>
</div>
<%- include("partials/footer.ejs") %>