<%- include("partials/header.ejs") %>

<% if ((result === "usernameexists") ||( result === "incorrectpassword")||(result === "newuser_on_loginpage") ) { %>
 <h3> <%= text %>  </h3>
<% } %>
 
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
      
        <div class="card my-3">

          <form class="card-body cardbody-color p-lg-5" action="/<%=status %>" method = "post">

            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
              
              <input type="text" class="form-control" name="username" 
                placeholder="User Name">
            </div>
            <div class="mb-3">
             
              <input type="password" class="form-control" name="password"  placeholder="password">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100"> <%= status %> </button></div>
            
          </form>
        </div>

      </div>
    </div>
  </div>

